.list-group-item {
    display: flex;
}

.task {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 96%;
}

.task:hover {
    border: 3px #337ab7 solid;
}

.task-title {
    font-weight: 600;
}

.task-author {
    color: #64687a;
    font-size: 20px;
    font-weight: 300;
}