.list-group-item {
    display: flex;
}

.task {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 96%;
    padding: 16px;
    margin: 1px;
}

.task:hover {
    border: 2px #337ab7 solid;
}

.task-title {
    font-weight: 600;
}

.task-author {
    color: #64687a;
    font-size: 20px;
    font-weight: 300;
}

.jira-ticket {
    font-size: 22px;
    font-weight: 400;
    color: #337ab7;
}

.confluence-link {
    font-size: 22px;
    font-weight: 400;
    color: #337ab7;
}