{% load static %}
{% load widget_tweaks %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QA Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"
    >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
</head>

<body>
{% if request.user.is_authenticated %}
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand" style="font-size: 24px;">
                <a href="/">
                    QA Service
                </a>
            </li>
            <li>
                <a href="/">
                    <i class='fab fa-trello'></i> <span class="tab-name" style="margin-left:8px"> Tasks</span>
                </a>
                <button id="new-task-btn" class="create-task btn btn-success btn-sm float-right open-modal"
                        type="button" style="font-size:22px; margin-top: 6px; margin-right: 20px;">
                    <i class='fas fa-plus'></i>
                </button>
            </li>
            <li>
                <a href="/documentation">
                    <i class='fab fa-confluence'></i> <span class="tab-name" style="margin-left:8px">Docs</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class='fab fa-jira'></i> <span class="tab-name" style="margin-left:8px">Jira</span>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <i class='far fa-user'></i> <span class="tab-name" style="margin-left:8px">Profile</span>
                </a>
                <button class="logout btn btn-danger btn-sm float-right" type="submit" style="font-size:18px; margin-right:20px">
                    Log Out
                </button>
            </li>
        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% else %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% csrf_token %}
    <h1>QA Service</h1>
    <div class="auth">
        <h3 class="auth-text">Please sign in or sign up to continue </h3></br>
        <div class="auth-button">
            <button class="login btn btn-success btn-sm" type="button"> Sign In </button></br>
            <button class="login signup btn btn-success btn-sm" type="button" > Sign Up </button>
        </div>
    </div>
{% endif %}

<!-- /#page-content-wrapper -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

</body>

</html>

<script type="text/javascript">
  $(function () {
    $(".signup").modalForm({formURL: "{% url 'create_user' %}"});

    $(".login").modalForm({formURL: "{% url 'login_user' %}"});

    $(".logout").modalForm({formURL: "{% url 'logout_user' %}"});

    $(".create-task").modalForm({formURL: "{% url 'create_task' %}"});

    $(".delete-task").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".update-task").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".done-task").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });
</script>
