{% load static %}
{% load widget_tweaks %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QA Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"
    >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
</head>

<body>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    QA Service
                </a>
            </li>
            <li>
                <a href="/">
                    <i class='fab fa-trello'></i> <span class="tab-name"> Tasks</span>
                </a>
                <button class="create-task btn btn-success btn-sm float-right" type="button" style='font-size:22px; margin-top: 4px; margin-right: 6px;'>
                    <i class='fas fa-plus'></i>
                </button>
            </li>
            <li>
                <a href="/documentation">
                    <i class='fab fa-confluence'></i> <span class="tab-name">Docs</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class='fab fa-jira'></i> <span class="tab-name">Jira</span>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <i class='far fa-user'></i> Profile
                </a>
            </li>

            <li>
                {% if request.user.is_authenticated  %}
                    <button  class="logout btn btn-danger btn-sm" type="button">
                        Log Out
                    </button>
                {% else %}
                    <button class="login btn btn-success btn-sm" type="button">
                        Sign In
                    </button>
                    <button class="login signup btn btn-success btn-sm" type="button">
                        Sign Up
                    </button>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

</body>
</html>

<script type="text/javascript">
  $(function () {
    $(".signup").modalForm({formURL: "{% url 'create_user' %}"});

    $(".login").modalForm({formURL: "{% url 'login_user' %}"});

     $(".logout").modalForm({formURL: "{% url 'logout' %}"});

    $(".create-task").modalForm({formURL: "{% url 'create_task' %}"});

    $(".delete-task").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });
</script>
