{% extends 'tasks/base.html' %}
{% block content %}
<div class="list-group">
    {% if not tasks %}
        <p>Sorry, no tasks available.</p>
    {% else %}
        {% for task in tasks %}
        <div class="row task list-group-item">
            <div class="col-11">
                <a href="/" class="stretched-link">
                    <h4 class="task-title">{{ task.title }}</h4>
                    <p class="task-text">{{ task.author }}</p>
                    <p class="date">
                        {{ task.publish_date|date:"Y M d" }}
                    </p>
                </a>
            </div>
            <div class="col">
                <button class="delete-task btn btn-outline-danger btn-sm" type="button" style='font-size:24px' data-id="{% url 'delete_task' task.pk %}">
                    <i class='far fa-trash-alt'></i>
                </button>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}